<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        {% block style %}
        {#Estilo para header statico y tabla ocupe el 93% de la pantalla#}
        html,body {
            height: 100%;
        }
        .table-responsive{
            height:93%;
            overflow:scroll;
            overflow-x: hidden
        }
        thead tr:nth-child(1) th{
            background: #343a40;
            position: sticky;
            top: -1px;
            z-index: 10;
        }
        {% endblock %}

    </style>
</head>

<body class="bg-secondary">
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
</div>
{% block body %}
{% endblock %}
{% block scripts %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src ="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
{% endblock %}

{% if current_user.is_authenticated %}
    <li><a href="{{ url_for('auth.logout') }}">Logout</a> </li>
{% else %}
    <li><a href="{{ url_for('auth.login') }}">Login</a> </li>
{% endif %}
</body>
</html>